:root {
  --primary-navy: #181c63;
  --primary-teal: #48beb0;
  --secondary-navy: #0056b3;
  --tertiary-navy: #cbccde;
  --white: #ffffff;
  --light-gray: #f8f9fa;
  --accordion-border-gray: #e1e1e1;
  --dark-gray: #343a40;
  --muted-purple: #474B8E;
}
  